
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f4f7f6;
  min-height: 100vh;
  width: 100%;
  
  display: block;
 
}

#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}