
.form-card {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    background: white;
    text-align: left;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    padding: 40px;
}

.form-group {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}


input,
select,
textarea {
    width: 100%;
    padding: 12px 15px;
    border: 2px solid #ecf0f1;
    border-radius: 6px;
    font-family: inherit;
    font-size: 1rem;
    transition: border-color 0.3s;
    box-sizing: border-box;
    
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
    border-color: #3498db;
}

textarea {
    resize: vertical;
    min-height: 120px;
    margin-bottom: 25px;
}


button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 14px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 600;
    width: 100%;
    transition: background-color 0.3s, transform 0.1s;
}

button:hover {
    background-color: #2980b9;
}

button:active {
    transform: scale(0.98);
}

button:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
}

h2{
    color: #2980b9;
}